# Tuples
#### A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

#### In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

# Characterstics

### Ordered
### Unchangeble
### Allows duplicate

# Plan of attack

### Creating a Tuple
### Accessing items
### Editing items
### Adding items
### Deleting items
### Operations on Tuples
### Tuple Functions

# Creating Tuple

In [13]:
#empty
t1 = ()
print(t1)
print(type(t1))
# tuple in single item
t2 = ('Hello',)
print(t2)
# homo
t3 = (1,2,3,4,5)
print(t3)
# hetro
t4 = (1,2,3,True,False,'Tuple')
print(t4)
# tuple in tuple
t5 = (1,2,3,4,5,(5,10))
print(t5)
# using type conversion
t6 = tuple('Helllo')
print(type(t6))
print(t6)

()
<class 'tuple'>
('Hello',)
(1, 2, 3, 4, 5)
(1, 2, 3, True, False, 'Tuple')
(1, 2, 3, 4, 5, (5, 10))
<class 'tuple'>
('H', 'e', 'l', 'l', 'l', 'o')

# Accessing Items
### 1.Indexing
### 2.Slicing

In [29]:
# indexing
t1_ = (2,4,6,8,10)
print(t1_[2])
print(t1_[-1])


# Slicing

t2_ = (3,4,2,5,6)
print(t2_[0:3])
print(t2_[-2:-1])

6
10
(3, 4, 2)
(5,)

# editing items (error)

In [31]:
# Tuples are immutable in tuple we can't change value
tup1 = (1,2,3,4,5)
tup1[1] = 500

TypeError: 'tuple' object does not support item assignment

# adding items (error)

In [32]:
# Tuples are immutable in tuple we can't add value
tup1 = (1,2,3,4,5)
tup1[1] = 'hello'

TypeError: 'tuple' object does not support item assignment

# deletion

In [33]:
tup1 = (1,2,3,4,5)
print(tup1) # We can delete whole tuple 
del tup1
print(tup1)

(1, 2, 3, 4, 5)

NameError: name 'tup1' is not defined

In [34]:
tup1 = (1,2,3,4,5)
del tup[0]  # we can delete whole tuple but we can't delete one specific value those strore in tuple
print(tup1)

NameError: name 'tup' is not defined

# operations on tuple

In [36]:
# Arthimetic operators +, *
tup2 = (1,2,3)
tup1 = (1,2,3,4,5)
print(tup1 + tup2)

print(tup2*2)

(1, 2, 3, 4, 5, 1, 2, 3)
(1, 2, 3, 1, 2, 3)

In [38]:
# Membership operator

tup1 = (1,2,3,4,5)
print(1 in tup1)
print(22 not in tup1)

True
True

In [39]:
# Loop
tup1 = (1,2,3,4,5)
for i in tup1:
    print(i**2)

1
4
9
16
25

# tuple functions

In [55]:
# len/sum/min/max/sorted/count/index

tup1 = (1,2,3,4,5)

# len
print(len(tup1))

# min
print(min(tup1))

# max
print(max(tup1))

# sorted
print(sorted(tup1))

#count
print(tup1.count(3))

#index
print(tup1.index(5))

# sum
print(sum(tup1))

5
1
5
[1, 2, 3, 4, 5]
1
4
15

#  Difference between Lists and Tuples
#### Syntax
#### Mutability
#### Speed
#### Memory
#### Built in functionality
#### Error prone
#### Usability

# Tuple Unpacking

In [56]:
a,b,c = (2,4,6)
print(a)
print(b)
print(c)

2
4
6

In [57]:
a,b,*others = (10,20,4,6,7,84,32)
print(a,b,others)

10 20 [4, 6, 7, 84, 32]

# Zip

In [59]:
x = (1,2,3,4,5)
y = (11,22,33,44,55)

zip_ = zip(x,y)
tuple(zip_)

((1, 11), (2, 22), (3, 33), (4, 44), (5, 55))