# Benefits of using a Function

- Code Modularity
- Code Readibility
- Code Reusability

# Let's create a function

In [9]:
def is_even(num):
    """
    Work of this Functions is given input is odd number or even number
    """
    
    if num%2 == 0:
        return 'even'
    else:
        return 'odd'

In [10]:
is_even(2)

'even'

In [11]:
# with loop

for i in range(1,11):
    x = is_even(i)
    print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

## Print documentations of functions

In [12]:
print(is_even.__doc__)

    Work of this Functions is given input is odd number or even number

# Parameters Vs Arguments
## Types of Arguments
### Default Argument
### Positional Argument
### Keyword Argument

In [87]:
def multiply(a=1, b=1):
    
    if type(a) and type(b) == int:
        return a**b
    else:
        'Invalid'

In [78]:
# default arguments
multiply()

In [79]:
# positional arguments
multiply(3,3)

In [80]:
# keyword arguments
multiply(b=2,a=3)
multiply(a=2,b=3)

# *args and **kwargs
### *args and **kwargs are special Python keywords that are used to pass the variable length of arguments to a function

In [48]:
# if we give large number of argumnets for additions in functions that use *args parameter

def add(*args):
    sum_n = 0
    for i in args:
        sum_n += i
    return sum_n

In [49]:
add(5,5)

10

In [54]:
# **kwargs
# **kwargs allows us to pass any number of keyword arguments.
# Keyword arguments mean that they contain a key-value pair, like a Python dictionary.

def display(**kwargs):
    
    for (key,value) in kwargs.items():
        print(key,':',value)

In [56]:
display(india='delhi',US='Washington DC',)

india : delhi
US : Washington DC

#  How functions are executed in memory?

### In ram (Random Access Memory) functions accupied special space for excutions

#  without return statement

In [10]:
# without retunrn statement functions return None

def func(x):
    print('Hello ',x)
    
func('Hay')
print(func('GM'))

Hello  Hay
Hello  GM
None

# Variable scope

In [13]:
# global scope
def show(x):
    return x
x = 5 # global variables
show(x)

5

In [17]:
# local scope

def show(x):
    y = 'Hello',x # local variables
    return y

show('Hay')

('Hello', 'Hay')

#### Note : Local variable can access global variable but global varible could't access local variable
#### Example below:

In [20]:
# access and change global variable inside functions
def add(x):
    global y
    
    x = 2  # local
    return x+1

y = 5 # global
add(y)

# here result are 3 because we access global var as 5 but inside functions we change as 2 using global keywords

3

# Nested functions

In [60]:
def outer_func():
    def inner_func():
        print('Hello World !')
    
    inner_func()

In [62]:
outer_func()

Hello World !

# deletion of functions

In [63]:
def sqrt(x):
    return x**2

In [64]:
sqrt(4)

16

In [65]:
# delete functions
del sqrt
sqrt(3)

NameError: name 'sqrt' is not defined

# Storing

In [66]:
def multipy(x,y):
    return x*y

In [67]:
multipy(5,5)

25

In [68]:
L = [1,2,3,4,5,multipy]

In [69]:
print(L)

[1, 2, 3, 4, 5, <function multipy at 0x00000195D2592DE0>]

In [72]:
L[-1](2,2) # call functions inside a list

4

# Returning functions

In [73]:
def f():
    def e(x,y):
        return x+y
    return e

In [76]:
f()(5,5) # calling functions

10

### Lambda Function

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [84]:
# x -> x^2

lambda x: x**2

In [87]:
# x,y-> x+y
add = lambda x,y:x+y
add(5,5)

10

#### Diff between lambda vs Normal Function

- No name
- lambda has no return value(infact,returns a function)
- lambda is written in 1 line
- not reusable

Then why use lambda functions?<br>
**They are used with HOF** High Order Functions

In [89]:
# check if string hs "a"
a = lambda s:'a' in s
a('hello')
a('apple')

True

In [92]:
# odd or even
od_ev = lambda x: 'even' if x%2 == 0 else 'odd'
od_ev(5)
od_ev(4)

'even'

# Higher Order Functions

In [97]:
def square(x):
    return x**2

def cube(x):
    return x**3


def transform(f,l):
    output = []
    
    for i in l:
        output.append(f(i))
    print(output)
    


l = [2,3,5,7,9]
transform(square,l)

[4, 9, 25, 49, 81]

In [98]:
# above task doing by help of lambda functions
transform(lambda x:x**2,l)

[4, 9, 25, 49, 81]

# Map

In [100]:
# square the items of a list
list(map(lambda x:x**2,[2,4,6,8]))

[4, 16, 36, 64]

In [102]:
# odd/even labelling of list items
L = [11,22,33,44,55,66,77,88,99,100]
list(map(lambda x: 'even' if x%2 == 0 else 'odd',L))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [107]:
# fetch names from a list of dict

users = [
    {
        'name':'Rahul',
        'age':45,
        'gender':'male'
    },
    {
        'name':'Nitish',
        'age':33,
        'gender':'male'
    },
    {
        'name':'Ankita',
        'age':50,
        'gender':'female'
    }
]

list(map(lambda users:users['name'],users))

['Rahul', 'Nitish', 'Ankita']

# Filter

In [109]:
# numbers greater than 5
l = [1,2,34,5,6,7,95,44]

list(filter(lambda x: x>5,l))

[34, 6, 7, 95, 44]

In [110]:
# fetch the fruits that startswith a letter
fruits = ['apple','banana','cheery','avacado']

list(filter(lambda x:x.startswith('a'),fruits))

['apple', 'avacado']

# Reduce

In [113]:
from functools import reduce

In [117]:
# sum of all item
item = [2,4,6,8]

reduce(lambda x,y:x+y,item)

20

In [121]:
# find min
item = [2,4,6,8]

reduce(lambda x,y:x if x<y else y,item)

2